/* #151515
#A91D3A
#C73659
#EEEEEE */

body, h1 {
    margin: 0;
    padding: 0;
    /* background-color: #151515; */
}

.name{
    height: 280px;
    background-color: #151515;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: center;
    text-align: center;
}
nav {
    position: fixed;
    top: 130px;
    width: 100%;
    z-index: 10;
    padding-left: 40px;
}
nav ul {
    display: flex;
    justify-content: left;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    /* margin: 10px; */
    margin-left: 40px;
    margin-right: 0px;
    font-weight: bolder;
}

nav ul li a {
    color: #EEEEEE;
    text-decoration: none;
    font-size: 20px;
}
.name h1{
    
    color: #A91D3A;
    font-size: 290px;
    display: flex;
    text-align: center;
    justify-content: center;
    white-space: nowrap; 
    transform: translateY(-50px);
    /* filter: blur(1px); */
}

.intro{
    height: 450px;
    background-color: #151515;
    display: flex;
    align-items: flex-start;
    
}
.box {
    margin-left: 50px;
    margin-top: 100px;
    padding: 20px;
    max-width: 600px;
    /* text-align: center; */
}

.box p {
    /* margin-top: 50px; */
    color: #EEEEEE;
    font-size: 20px;
    line-height: 1;
}

#about {
    /* position: absolute; */
    height: 850px;
    background-color: #151515;
    display: flex;
    align-items: flex-start;
}

.main-div{
    height: 800px;
    width: 1200px;
    background-color: #A91D3A;
    margin-top: 50px;
    margin-left: 50px;
}
.main-div p{
    padding-left: 5px;
    font-family: "Quicksand", sans-serif;
    padding-top: 400px;
    position: absolute;
    z-index: 2;
    color: #EEEEEE;
    font-size: 100px;
    /* font-weight: bolder; */
}
/* .highlight{
    color: #A91D3A;
    
} */
.main-div img{
    height: 700px;
    width: 650px;
    position: absolute;
    padding-left: 500px;
    padding-top: 50px;
}

.about-me{
    height: 600px;
    background-color: #151515;
    display: flex;
    align-items: flex-start;
}
.about-me h1{
    margin-top: 50px;
    font-size: 40px;
    color: #EEEEEE;
    font-weight: bolder;
    padding-left: 550px;
    position: absolute;
}
.about-box {
    margin-left: 0px;
    margin-top: 120px;
    padding: 0px; 
    padding-left: 550px;
    
    max-width: 500px;
}
.about-box p{
    color: #EEEEEE;
}

#work{
    height: 600px;
    /* background-color: aqua  ; */
    background-color: #151515;
    position: relative;
    overflow: hidden;
    
}

#work p{
    margin: 0;
    color: #C73659;
    /* color: #EEEEEE; */
    padding: 80px 50px;
    font-size: 50px;
    z-index: 1;
    position: relative;
}
#work p::after {
    content: "";
    position: absolute;
    top: 60px;
    left: -100%; /* Initially hide the pseudo-element */
    width: 100%;
    height: 50%;
    background: linear-gradient(to right, transparent, #ffffff); /* Gradient from transparent to white */
    z-index: 0; /* Behind the text */
    animation: reveal 5s forwards; /* Animation to reveal the background */
}

@keyframes reveal {
    0% {
        left: -100%;
    }
    100% {
        left: 0; /* Keep the background in its final position */
    }
}
.work-highlight{
    font-weight: bolder;
    font-size: 70px;
}



